body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button{
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  background-color: #2193b0;
  border-radius: 5px;
  font-weight: bold;
}